<%- include("../partials/head") %>

<%- include("../partials/sidebar") %>
<%- include("../partials/topbar") %>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <a href="/pemilik/create" >
                            <div class="fas fa-table me-1">
                                
                            </div>
                        </a>
                        <i  class="">Tambah Pemilik</i> 
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nama Pemilik</th>
                                    <th scope="col">Alamat</th>
                                    <th scope="col">No. HP</th> 
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < data.length; i++){ %>
                                <tr>
                                    <th scope="row"><%= (i+1) %></th>
                                    <td><%= data[i].nama_pemilik %></td>
                                    <td><%= data[i].alamat %></td>
                                    <td><%= data[i].no_hp %></td>
                                    <td>
                                        <a href="/pemilik/edit/<%= data[i].id_pemilik %>" class="btn btn-sm btn-warning">Edit</a>
                                        <a href="/pemilik/delete/<%= data[i].id_pemilik %>" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div> 


            </div>
        </main>




        <%- include("../partials/footer") %>


