<%- include("../partials/head") %>
<%- include("../partials/sidebar") %>
<%- include("../partials/topbar") %>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <h3 class="mt-5">Edit Data Alat Tangkap</h3>
                <form method="post" action="/alat_tangkap/update/<%= id_alat_tangkap %>" class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nama_alat_tangkap" class="form-label">Nama Alat Tangkap</label>
                            <input type="text" class="form-control" id="nama_alat_tangkap" name="nama_alat_tangkap" value="<%= nama_alat_tangkap %>" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-end">
                            <button type="submit" class="btn btn-success">Simpan Perubahan</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>




        <%- include("../partials/footer") %>












